<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HeadeR</title>

	<link href="/assets2/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets2/css/datepicker3.css" rel="stylesheet">
	<link href="/assets2/css/bootstrap-table.css" rel="stylesheet">
	<link href="/assets2/css/styles.css" rel="stylesheet">

	<!--Icons-->
	<script src="/assets2/js/lumino.glyphs.js"></script>

	<!--[if lt IE 9]>
	<script src="/assets2/js/html5shiv.js"></script>
	<script src="/assets2/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span>Heade</span>R</a>
		</div>

	</div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<ul class="nav menu">
		<li class="active"><a href="/adminpage"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>Продукция</a></li>
		<li><a href="/addpage"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>Добавить</a></li>

		<li role="presentation" class="divider"></li>
		</ul>

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Продукция</div>
				<div class="panel-body">
					<table data-toggle="table" data-url="tables/data2.json" >
						<thead>
						<tr>
							<th data-field="id" data-align="right">Id</th>
							<th data-field="name">Название</th>
							<th data-field="price">Цена</th>
							<th data-field="price">Описание</th>
							<th data-field="price">Картинка</th>
							<th data-field="price"></th>
							<th data-field="price"></th>
						</tr>
						<tr th:each="el : ${wh}">
							<td th:text="${el.id}"></td>
							<td th:text="${el.name}"></td>
							<td th:text="${el.price}"></td>
							<td th:text="${el.description}"></td>
							<td>1.</td>
							<td>Удалить</td>
							<td>Изменить</td>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div><!--/.row-->


</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-table.js"></script>
<script>
	!function ($) {
		$(document).on("click","ul.nav li.parent > a > span.icon", function(){
			$(this).find('em:first').toggleClass("glyphicon-minus");
		});
		$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
		if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
		if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})
</script>
</body>

</html>
